<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72176299647-7g1v39alehs8oilt7k0i7en4fjfo9kbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72176299647-7g1v39alehs8oilt7k0i7en4fjfo9kbt</string>
	<key>API_KEY</key>
	<string>AIzaSyCiRQW5YA3X5ISTsU1NXpXuoE4INJdzUNE</string>
	<key>GCM_SENDER_ID</key>
	<string>72176299647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab08</string>
	<key>PROJECT_ID</key>
	<string>lab08-firebase098</string>
	<key>STORAGE_BUCKET</key>
	<string>lab08-firebase098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72176299647:ios:a78bd9d724e6b54003594a</string>
</dict>
</plist>